body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #113E5D;
    color: white;
}
.container {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    /* height: 50%; */
    margin-bottom: 40px;
}

.courseSection-heading {
    /* text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding: 30px; */
    font-family: Arial, Helvetica, sans-serif;

}
.courseSection-list {
    list-style-type: none;
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr);

}
.courseSection-list-item {
    /* display: flex;
    /* grid-template-columns: repeat(2 1fr); */
    /* /* justify-content: center; */
    text-align: center;
    border: 1px solid rgb(141, 122, 85);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; 
    margin: 15px;
    padding: 15px;
}

.courseSection-list-item:hover {
    transition: 0.4s ease-in-out;
    /* transition: transform 0.3s ease-in-out; */
    transform: scale(1.1)
}

.courseSection-list-item img {
    width: 60%;
    height: 30%;
    padding-top: 10px;
    object-fit: cover;
    
}
.courseSection-list-item h2 {
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
}

.courseSection-list-item h3 {
    padding-top: 5px;
    margin-top: 5px;
    font-size: 12px;
}
.courseSection-list-item p {
    margin: 10px;
    font-size: 12px;
    /* text-decoration: none; */
    text-align: justify;
}